useDynLib(rSPACE)
import(RMark, ggplot2)
importFrom(tcltk, 
  tkgrid,
  tklabel,
  tktoplevel,
  tkwm.title,
  tclVar,
  tkbutton,
  tkbind,
  tclvalue,
  "tclvalue<-",
  tkwait.variable,
  tkdestroy)
importFrom(tcltk2,
  tk2entry)
importFrom(grid,
  grid.newpage,
  viewport,
  pushViewport,
  grid.layout)
importFrom(sp,
  coordinates,
  proj4string)
importFrom(raster,
  extend,
  extent,
  raster,
  getValues,
  setValues,
  reclassify,
  res,
  pointDistance)
importFrom(plyr,
  ddply)
  
  
export(enter.parameters)
export(create.landscapes)
export(test_samples)
export(wolverine_analysis)
export(encounter.history)