useDynLib(rSPACE, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
import(RMark, ggplot2)
importFrom(tcltk, 
  tkgrid,
  tklabel,
  tktoplevel,
  tkwm.title,
  tclVar,
  tkbutton,
  tkbind,
  tclvalue,
  "tclvalue<-",
  tkwait.variable,
  tkdestroy)
importFrom(tcltk2,
  tk2entry)
importFrom(grid,
  grid.newpage,
  viewport,
  pushViewport,
  grid.layout)
importFrom(sp,
  CRS,
  mapasp,
  coordinates,
  proj4string,
  "proj4string<-")
importFrom(raster,
  extend,
  extent,
  raster,
  getValues,
  setValues,
  reclassify,
  res,
  pointDistance,
  distanceFromPoints,
  writeRaster)
importFrom(plyr,
  ddply,
  summarise)
 importFrom("grDevices", "colors", "devAskNewPage", "grey",
             "heat.colors")
  importFrom("methods", "as", "slot")
  importFrom("stats", "loess", "predict", "qnorm", "rbinom", "runif")
  importFrom("utils", "flush.console", "read.delim", "read.table", "write.table")  
  
export(enter.parameters)
export(create.landscapes)
export(createReplicates)
export(test_samples)
export(testReplicates)
export(wolverine_analysis)
export(encounter.history)
export(getResults)
export(findPower)
export(testPopSize)